{% extends "basic.html"%}
{% block title %}
    HOME PAGE
{% endblock title%}

{% block css%}
    h1{
        color:black;
    }

    
    
{% endblock css%}
{% block body%}
    <main role="main" style="background-color: #e6f2ff; font-family: Times New Roman ">
<br/>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" >
      <div class="container"  >
        <h1 class="display-3" align="center"> MOVIE.com</h1>
        <p>Many people like to watch movies, whether it’s old or new movie distribution. The goal of some movie buffs is to review the best and most legendary cinema paintings. To date, the number of interesting films reaches an incredible amount. It takes a lot of time to watch all the movies. But do they really deserve the attention of the audience? And if not, how can I find out? To do this, there are various sites on which all the information about the films is collected. But we do not always have the opportunity to find them to get the necessary data. Also, movie descriptions are not always able to convey the emotions of watching.</p>
        <div class="d-flex">
       
          <p class="mx-2"  ><a class="btn btn-primary btn-sm" align-items= "center" href="/member/login" role="button">LOGIN !!!</a></p>
          <p><a class="btn btn-primary btn-sm" href="/member/signup" role="button">SIGN UP !!!</a></p>
     
        </div>
      </div>
    </div>
    </br>
    </br>

    <div class="container" >
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2 align="center"> THALAIVI </h2>
          <p>An iconic figure in Indian politics, Jayalalithaa’s political journey is known to most. Director Vijay attempts to unravel her icy cold persona and look at her as a woman passionately driven by love. Make no mistake, a woman’s fight for self respect and battle against patriarchy are integral to the story. However, what lies at the heart of the tale is her unconditional love for MGR, despite the societal contempt of her. She faced the wrath of his loyal followers, who deemed their extra marital relationship as illicit and a disgrace to his noble reputation. As days turned into decades, they became each other’s strength and weakness.</p>
          <p><a class="btn btn-danger" href="#" role="button">VIEW MORE &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2 align="center">MIMI</h2>
          <p>Based on the story of Marathi film Mala Aai Vhhaychy (story by Samruddhi Porey), director-writer Laxman Utekar (story co-written with Roshan Shankar) creates this bewilderingly entangled den of emotions revolving around one central plot. This time, Utekar extremes the emotional end of the spectrum, finding a middle-ground excelling his flawed heavy-on-humour Lukka Chhupi. In a little over 120 minutes, Mimi’s world initiates – a contrasting journey of a couple who are emotionally inclined towards having a kid but the protagonist is in just for the money – leading to an emotional growth of an aspiring actress who turns to be an unplanned mother.</p>
          <p><a class="btn btn-danger" href="#" role="button">VIEW MORE &raquo;</a></p>
        </div>
        
        <div class="col-md-4">
          <h2 align="center"> BHOOT POLICE</h2>
          <p>There are certain roles for which you’ve to prep for months, achieve the physical goal to match with your role, adjust your mental state according to the character sketch, and then there are ones in which you just have fun. Saif Ali Khan in his printed boxers and jackets is doing the same, just having fun with a role tailor-made for him. He gets the meatiest lines which are totally justified for the way he delivers them as flawlessly as ever. Arjun Kapoor balances himself pretty well while being on the edge of being subtle and turning into a caricature</p>
          <p><a class="btn btn-danger" href="#" role="button">VIEW MORE &raquo;</a></p>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>

  <footer class="container" style=" text-align: center">
    <p>&copy; Company 2020-2021</p>
  </footer>

{% endblock body %}